uname{
    color:red;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    font:bold;
}
city,rank{
    color:yellow;
    font-family: arial;
    font-size:16px;
    font:bold;
}